<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
</head>
<body>
  <a href="/"><img src="https://storage.googleapis.com/ehimages/2017/9/27/img_590bebc171831a3c0aba58aac7145e1d_1506479808118_original.jpg"></a>
</body>
</html>
