<%layout('./passwordmanager.ejs')%>
<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-1">
  <h2 class='txt'><b>Change Password</b>
  </h2>
  <form action="/user/changepassword" method="POST" id="passwordblock">
    <div class="form-group">
      <input type="password" value="<%-oldpassword%>"hidden>
      <label for="password" class='txt' required>New password</label>
      <input type="password" name="password1"  class="form-control">
    </div>
    <div class="form-group">
      <label for="password" class='txt' required>Confirm Password</label>
      <input type="password" name="password2"  class="form-control">
    </div>
    <button type="Submit" value="Submit" class="btn btn-primary">submit</button>
  </form>
  </div>
</div>